body {
    background-image: url('/static/tournaments/register.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    overflow: auto;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

form {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 400px;
    width: 100%;
    color: #fff;
    margin: 0 auto;
}

form input, form button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
}

form button {
    background-color: #0056b3;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #003d7a;
}

.intro-text {
    text-align: center;
    font-size: 1.5em;
    margin: 20px 0;
    color: #fff;
}

.container {
    max-width: 300px;
    margin: 10px auto;
    padding: 20px;
    background-color: transparent;
    border-radius: 10px;
    border: none;
    box-shadow: none;
}

h1 {
    text-align: center;
    font-size: 2em;
    color: #333;
}

h2 {
    font-size: 2em;
    color: #333;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-control:hover {
    background-color: #0056b3;
}

.tournaments-container {
    padding: 20px;
    background-color: #000000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tournaments-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.tournament-card {
    margin: 20px 0;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    text-align: center;
}

.tournament-dates,
.tournament-location {
    margin-top: 10px;
    color: #666;
}

.no-tournaments {
    text-align: center;
    color: #999;
    font-style: italic;
}

.form-input-wrapper {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.form-input-text {
    padding: 10px;
    border: none;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

.form-input-label {
    margin-bottom: 5px;
    font-weight: bold;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    backdrop-filter: blur(5px);
}

.modal-content {
    background-color: rgba(16, 25, 203, 0.9);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 80%;
    max-width: 400px;
    border-radius: 10px;
    position: relative;
    color: white;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
}

input, select {
    width: 60%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #007bff;
    color: white;
    text-align: center;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4 5"><path fill="white" d="M2 0L0 2h4zm0 5L0 3h4z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 10px;
    height: 50px;
    cursor: pointer;
}

button {
    padding: 15px 20px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    margin: 0 auto;
    display: block;
}

button:hover {
    background-color: #003d7a;
}